body {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

.container {
    background-color: #1B244A; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    padding: 40px 20px;
    border-radius: 15px;
}

h3 {
    color: #EEEEEE;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 900;
}

.score-display {
    background-color: #000000; 
    color: #F94F6D; 
    font-size: 90px;
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Cursive', sans-serif; 
    margin-bottom: 25px;
}

.button-group {
    display: flex;
    gap: 10px;
}

button {
    background: transparent;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}